p {
    font-size: 16px;
    text-align: center;
}
body {
    background-color: ;
}
div {
    text-align: center;
}
img {
    border-radius: 10px;
}
body {
    width: 1440px;
}
.order summary {
    font-size: 100px;
}